vercel-deploy-service/.env
node_modules/
dist/
.deployrrr.json
.env
.env.local
worker/.dev.vars
worker/.dev.vars.local
worker/.env
worker/.env.local
worker/.wrangler/
.wrangler/
*.log



vercel-request-handler/.env
vercel-upload-service/.env
request-handler-service/.env
upload-service/.env
s3-reverse-proxy/
reverse-proxy/node_modules/